button {
     padding: 0.5rem;
     margin: auto;
     border: 2px solid teal;

}

#actorBtns {
    margin: 0;
}

button + button {
    margin: 0.5rem;
}

.gifImageDiv {
    float: left;
    height: 250px;
    width: 250px;
    margin: 0.5rem;
    padding: 0;
    border: 3px solid white;

    
}

img {
    width: 100%;
    height: 200px;
    margin: auto;
    padding: 0;
}
body {
    background-image: url(../images/hollywood.jpg);
    background-size: cover;
}

p {
    background-color: white;
    padding: auto;
}

