button {
     padding: 1rem;
     margin: auto;

}

#actorBtns {
    margin: 0;
}

button + button {
    margin: 0.5rem;
}

.gifImageDiv {
    float: left;
    width: 30%;
    height: auto;
    margin: 0.5rem;
    padding: 0;

    
}

img {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}


